body{
    background:#232323;
}

h1{
    color: #fff;
    text-align: center;
}

span {
    color: white;
}

.square{
    width: 30%;
    padding-bottom:30%; 
    margin: 1.66%;
    float: left;
    background: purple;
}

.container{
    margin: 0 auto;
    max-width: 600px;
    
}