body{
    background:#232323;
}

h1{
    color: #fff;
    text-align: center;
    font-family: 'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif
}

span {
    color: white;
}

.square{
    width: 30%;
    padding-bottom:30%; 
    margin: 1.66%;
    float: left;
    background: purple;
    border-radius: 10px;
}

.container{
    margin: 0 auto;
    max-width: 600px;
}

.span-wrapper{
    text-align: center;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

div span{
    border: 1px solid white;
    padding: 0.25rem;
}