


.scroll {
    overflow-x: scroll;
}

.highlight{
    border: 2px solid royalblue;
}

.bg-grey {
    background-color: #d2d6db;
}

.heleper-text{
    font-size: 0.8rem;
}

.border-radius{
    border-radius:10px;
}

.w-100{
    width: 100%;
}

/* MEDIA QUERRIES */
@media (max-width:324.9px){
    .xs-center{
        text-align: center;
    }
}
